@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Playfair+Display:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    transition: all 0.3 ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: purple;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a hover{
    color: teal;
}

/* img styling */
img {
    width: 250px;
    height: 250px;
    border: 3px solid gray;
    margin: 10px;
    padding: 10px;
    max-width: min-content;
}

.img-glow:hover{
    box-shadow: inset 0px 0px 8px
    rgb(0, 0, 0), 0 0 15px
    rgb(0, 0, 0);
                         
}

/* Menu btn styling */
.menu-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section */
.home{
    display: flex;
    background-color: turquoise;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Lucida Sans', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -12px;
}

.text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    font-size: 40px;
    margin: 5px 0;
    color: teal;
}

/* styling for about section */
.about{
    background-color: cornflowerblue;
}
/* styling for projects section */
.projects {
    background-color: cadetblue;
}

/* styling contact section under footer  */
footer {
    text-align: center;
    background-color: dodgerblue;
    color: black;
}



/* responsive media query start */
@media (max-width: 990px) {
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: -100%;
        background: black;
        text-align: center;
        padding-top: 80px;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25 px;
    }
}